<article class="project-big" data-badge="#{{ badge }}">
  <picture>
    <source srcset="img/{{image}}.webp 1x, img/{{image}}@2x.webp 2x" type="image/webp" />
    <img class="project-big__img" src="img/{{ image }}.jpg" srcset="img/{{image}}@2x.jpg 2x" width="278" height="184" alt="{{ badge }}" />
  </picture>

  <div class="project-big__info">
    <h3 class="project-big__title">{{ title }}</h3>

    <p class="project-big__descr">
      {{{ descr }}}
    </p>

    <time class="project-big__date" datetime="{{ dateString }}">
      <svg class="project-big__date-icon" width="14" height="14" aria-hidden="true">
        <use xlink:href="img/icons/sprite.svg#icon-calendar"></use>
      </svg>
      {{{ date }}}
    </time>

    <a class="project-big__link btn-secondary" href="#">О проекте</a>
  </div>
</article>
